

<!--<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css ">-->
<div class="container d-flex justify-content-center align-items-center">
  <%= link_to "CSV", home_supervisor_home_path(format: :csv), class: "btn btn-primary px-4 mr-2" %>
  <%= link_to "Excel", home_supervisor_home_path(format: :xls), class: "btn px-4 btn-primary" %>
</div>
<div class="container ">
  <table id="user_table" class=" table table-bordered dt-responsive nowrap hover order-column row-border" style="width: 100%" >

    <thead style="text-align: center">
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Column 6</th>
      <th>Column 7</th>
      <th>Column 8</th>
      <th>Column 9</th>
      <th>Column 10</th>
    </thead>
    <tbody>
    <% @reports.each do |reports| %>
      <tr>
        <td><%= reports.column1 %></td>
        <td><%= reports.column2 %></td>
        <td><%= reports.column3  %></td>
        <td><%= reports.column4  %></td>
        <td><%= reports.column5  %></td>
        <td style="text-align: right"><%= reports.column6  %></td>
        <td style="text-align: right"><%= reports.column7  %></td>
        <td style="text-align: right"><%= reports.column8  %></td>
        <td><%= reports.created_at  %></td>
        <td><%= reports.updated_at  %></td>



      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<script type="text/javascript">
    $(document).ready(function() {
          $('#user_table').DataTable();
    });


</script>
