<section class='hero is-fullheight'>
  <div class='hero-body columns is-centered'>
    <%= form_for(
          resource, as: resource_name, url: session_path(resource_name),
          html: { class: 'column is-3-widescreen is-4-desktop is-5-tablet is-10-mobile box' }
        ) do |f|
    %>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <div class="control has-icons-left has-icons-right">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email',
              class: 'input' %>
          <span class="icon is-small is-right">
            <i class="fa fa-check"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, class: 'label' %>
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
          <%= f.password_field :password, autocomplete: "current-password",
              placeholder: 'Password', class: 'input' %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="control">
          <%= f.label :remember_me, class: 'checkbox' do %>
            <%= f.check_box :remember_me %>
            Remember me
          <% end %>
          </div>
        </div>
      <% end %>

      <div class="field">
        <div class="control">
          <%= f.submit "Log in", class: 'button is-success' %>
        </div>
      </div>
    <% end %>

  </div>
</section>

<%#= render "devise/shared/links" %>
