<!DOCTYPE html>
<html>
  <head>
    <title>SkeletalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <% if @user.present? %>
      <%= render "shared/header" %>
    <% end %>
    <%= render "shared/flash_messages" %>
    <% if root_path %>
      <%= yield %>
    <% end %>

    <% if @user.present? %>
      <%= render "shared/footer"  %>
    <% end %>

  </body>
</html>
