<!DOCTYPE html>
<html>
  <head>
    <title>SkeletalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<!--    <link href="https://code.jquery.com/jquery-3.5.1.js">-->
<!--    <link href="cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js">-->
<!--    <link href="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js">-->

<!--    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>-->
<!--    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
<!--    <link href="https://code.jquery.com/jquery-3.5.1.js">-->
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">-->
<!--    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>-->


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%# if @user.present? %>
      <%#= render "shared/header" %>
    <%# end %>
    <%#= render "shared/flash_messages" %>
    <%# if root_path %>
      <%#= yield %>
    <%# end %>

    <%# if @user.present? %>
      <%#= render "shared/footer"  %>
    <%# end %>





<!--    Quiz app view-->


    <nav class='navbar is-fixed-top is-primary' role='navigation' aria-label='main navigation'>
      <div class='navbar-start'>
        <div class='buttons'>
          <%= link_to 'HOME', root_path, class: 'button is-light' %>
        </div>
      </div>
      <div class='navbar-end'>
        <div class='navbar-item'>
          <div class='buttons'>
            <% if user_signed_in? %>
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'button is-danger' %>
            <% else %>
              <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-light' %>
              <%= link_to 'Log In', new_user_session_path, class: 'button is-light' %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <% if notice %>
    <div class='notice notification is-success'>
      <button class='delete'></button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class='alert notification is-danger'>
      <button class='delete'></button>
      <%= alert %>
    </div>
  <% end %>
  <%= yield %>
  </body>
</html>
